__pycache__/
test_knitting_patterns_table__patterns_input.csv
content/

public/
examples_from_static_site/
static/images
static/templates/external_research
static/templates/image
static/templates/prototyping
inputs
static/templates/test_outputs/image
