<body>
    <header>
        /* defines a header for a document or a section */
    </header>

     <section>
/* defines a section in a document */
    </section>

    <article>
/* defines  independent, self-contained content */
    </article>

    <aside>
/* this is for content aside from the main content like a side bar */

    </aside>

    <details>

        /* defines additional details the user can open and use on demand */
    </details>

    <summary>
        /* defines the heading for the details section */
    </summary>

    <footer>
        /* defines a footer for a document or section */
    </footer>

    
</body>