<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns</title>
    <link rel="stylesheet" href="global_style.css">
</head>
<body>
<header>
  <h1>Library Image Grid</h1>
</header>
<nav>

    
<ul class="topnav">
  <li><a href="index.html">Home</a></li>
  <li><a href="pattern_search.html">Pattern Name Search</a></li>
  <li><a href="type_search.html">Pattern Type Search</a></li>
  <li><a href="info.html">Information about the dataset</a></li>
  <li><a href="all.html">All patterns in image grid</a></li>
</ul>

</nav>
<div class="flex-container">
  <div>
    
    <p> No page of this type requested</p>
    
  </div>  
</div>
<footer>
  <p>Using Pattern Library from Knitting Patterns</p>
</footer>
</body>
</html>