<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns</title>
    <link rel="stylesheet" href="global_style.css">
</head>
<body>
<div class = "site-wrapper">
<header>
  <h1>Library Image Grid</h1>
</header>
<nav>

    
<ul class="topnav">
  <li><a href="index.html">Home</a></li>
  <li><a href="pattern_search.html">Pattern Name Search</a></li>
  <li><a href="type_search.html">Pattern Type Search</a></li>
  <li><a href="info.html">Information about the dataset</a></li>
  <li><a href="all.html">All patterns in image grid</a></li>
</ul>

</nav>
    <main>

    <div class="result-summary">
        <p>
        There were 12 matches
        </p>
    </div>
    <div class="image-grid">

        <div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/Firth_1.png">
  </div>
  <div class="info-wrapper">
    <p>Firth</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/TolstaTee_1.png">
  </div>
  <div class="info-wrapper">
    <p>Tolsta Tee</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/DaftDaysCardigan_1.png">
  </div>
  <div class="info-wrapper">
    <p>Daft Days Cardigan</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/Affric_1.png">
  </div>
  <div class="info-wrapper">
    <p>Affric</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/QuesnalCowl_1.png">
  </div>
  <div class="info-wrapper">
    <p>Quesnal Cowl</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/seasideset_1.png">
  </div>
  <div class="info-wrapper">
    <p>seaside set</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/BearlyBonnet_1.png">
  </div>
  <div class="info-wrapper">
    <p>Bearly Bonnet</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/SelseySocks_1.png">
  </div>
  <div class="info-wrapper">
    <p>Selsey Socks</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/SeasaltSocks_1.png">
  </div>
  <div class="info-wrapper">
    <p>Seasalt Socks</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/Dipit_1.png">
  </div>
  <div class="info-wrapper">
    <p>Dip it</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/FrozenFalls_1.png">
  </div>
  <div class="info-wrapper">
    <p>Frozen Falls</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
<div class="pattern card">
  <div class="image-wrapper">
    <img src="image/zipped pictures 05-03-2026 17_45/52WeeksofSweaters_1.png">
  </div>
  <div class="info-wrapper">
    <p>52 Weeks of Sweaters</p>
    <a href="#">Pattern Details</a>
  </div>
</div>
        
        
    </div>
    </main>
    
    

</div>
<footer>
  <p>Using Pattern Library from Knitting Patterns</p>
</footer>

</body>

</html>