<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns</title>
    <link rel="stylesheet" href="global_style.css">
</head>
<body>
<header>
  <h1>Pattern Search</h1>
</header>
<nav>

    
<ul class="topnav">
  <li><a href="#">Home</a></li>
  <li><a href="pattern_search.html">Pattern Name Search</a></li>
  <li><a href="type_search.html">Pattern Type Search</a></li>
  <li><a href="#">Information about the dataset</a></li>
  <li><a href="all.html">All patterns in image grid</a></li>
</ul>

</nav>
<body>
    <div class="image-grid">

        <div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/Firth_1.png">
    <p>Firth</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/TolstaTee_1.png">
    <p>Tolsta Tee</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/DaftDaysCardigan_1.png">
    <p>Daft Days Cardigan</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/Affric_1.png">
    <p>Affric</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/QuesnalCowl_1.png">
    <p>Quesnal Cowl</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_1.png">
    <p>seaside set</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/BearlyBonnet_1.png">
    <p>Bearly Bonnet</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/SelseySocks_1.png">
    <p>Selsey Socks</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/SeasaltSocks_1.png">
    <p>Seasalt Socks</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/Dipit_1.png">
    <p>Dip it</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/FrozenFalls_1.png">
    <p>Frozen Falls</p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/52WeeksofSweaters_1.png">
    <p>52 Weeks of Sweaters</p>
</div>
        
        
    </div>
    
</body>
<footer>
  <p>Using Pattern Library from {{csv_name}}</p>
</footer>
</body>
</html>