* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*font-family: Georgia, 'Times New Roman', Times, serif;*/
  font-size: 16;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}
ul.topnav li:first-child{
  margin-right:auto;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}

.content-container{
  display: flex;
  flex-direction: column;
  
  padding-bottom: 20px;
  text-align: center;
}
.content-container p{
  font-size: 1.5rem;

}
.content-container h2{
  font-size: 3rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
  
  
  gap: 1em;
  
  
  
}
.pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  
  
}
.pattern img{
  
  
  
 
  
  padding: 10px;
}







div.flex-container {
  
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  
  gap: 10px;
  
  
  

}

div.flex-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  border: 2px solid darkgray;
  
  margin-left: 10px;
}
.flex-container p{
    padding: 10px;
    font-size: 1.5rem;
}
.flex-container h2{
    
    font-size: 2rem;
}

/* Style the footer */
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}

/* Use media query and show the 3 columns vertically if screen width is less than 600px 
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}*/