<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns</title>
    <link rel="stylesheet" href="global_style.css">
</head>
<body>
<header>
  <h1>Library Information</h1>
</header>
<nav>

    
<ul class="topnav">
  <li><a href="index.html">Home</a></li>
  <li><a href="pattern_search.html">Pattern Name Search</a></li>
  <li><a href="type_search.html">Pattern Type Search</a></li>
  <li><a href="info.html">Information about the dataset</a></li>
  <li><a href="all.html">All patterns in image grid</a></li>
</ul>

</nav>

   
<div class="flex-container">
  <div class="sidebar">
    <h2>Keys</h2>
    <ol>
      <li>﻿Name </li><li>Designer </li><li>Rollup_designer </li><li>Type </li><li>Date_added </li><li>Notes </li><li>Attachments </li><li>Number_of_Attachments </li><li>Image.png? </li><li>Attachment_filenames_regex </li><li>Batch_attachment_archive_in_dropbox </li><li>RecordId </li><li>Status </li><li>Projects </li><li>Projects_from_rollup </li><li>Paper_folder </li><li>Project_completed_need_to_record </li><li>Checked_file_into_subcategory </li><li>Dropbox_link </li><li>Projects_3 </li><li>Last_modified </li><li>Google_sheet_sync </li><li>Unsaved_changes </li>
    </ol>
  </div>

  <div class="main-panel">
    <h2>Information about the dataset</h2>
    <p>
      Name:  Knitting Patterns<br><br>contains 12 knit patterns<br><br>csv filepath:    ./inputs/Patterns_Selection_of_patterns_in_certain_batches2.csv
    </p>
    
  </div>
  <div class="sidebar">
    <h2>Pattern Types</h2>
    <ul>
      <li>Cardigan/Jumper </li><li>Socks </li><li>Gloves/Mitts </li><li>Book,Multi </li><li>Cardigan/Jumper,Baby/Child,leggings </li><li>Hats </li>
    </ul>
  </div>

  
</div>
      
    
  

<footer>
  <p>Using Pattern Library from Knitting Patterns</p>
</footer>
</body>
</html>