<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns</title>
    <link rel="stylesheet" href="global_style.css">
</head>
<body>
<header>
  <h1>Pattern Search</h1>
</header>
<nav>

    
<ul class="topnav">
  <li><a href="#">Home</a></li>
  <li><a href="#">Pattern Name Search</a></li>
  <li><a href="#">Pattern Type Search</a></li>
  <li><a href="#">Information about the dataset</a></li>
</ul>

</nav>
<body>
  <div class="content-container">
    <div class = "props">
        <h2>seaside set</h2>
        <p>Designer: PetiteKnit</p><p>Cardigan/Jumper, Baby/Child, leggings</p><p></p><p>number of attachments: 12</p>
        
        
        <a href="">pattern link</a>
      
    </div>
    <div class = "image-grid">
        <div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_1.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_2.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_3.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_4.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_5.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_6.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_7.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_8.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_9.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_10.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_11.png">
    <p></p>
</div>
<div class="pattern">
    <img src = "image/zipped pictures 05-03-2026 17_45/seasideset_12.png">
    <p></p>
</div>
    </div>
    
  </div>
</body>
<footer>
  <p>Using Pattern Library from {{csv_name}}</p>
</footer>
</body>
</html>